<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body class="{{ page.layout }}{% if site.dark_mode %} dark-mode{% endif %}">
    {% include header.html %}
    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    {% if page.layout contains 'scrolly' %}
    <script src="{{ '/assets/js/scrollytelling.js' | relative_url }}"></script>
    {% endif %}
  </body>
</html>